<%
  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {})
%>

<ul class="nav nav-pills pull-right" style="font-size: 0.8em; ">
  <li><%= link_to 'Edit', edit_doc_path(@doc) %></li>
  <li><%= link_to 'Destroy', doc_path(@doc), method: :delete, data: { confirm: "Are you sure you want to delete the document '#{@doc.title}'?" } %></li>
</ul>

<%= render "folders/breadcrumbs" %>

<p id="notice"><%= notice %></p>

<h3><%= @doc.title %></h3>

<% @doc.sections.each do |section| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= section.title %>
    </div>
    <div class="panel-body">
      <%= raw markdown.render( section.content  || "") %>
    </div>
  </div>

<% end %>

