<%
  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {})
%>
<ol class="breadcrumb">
  <% @doc.ancestors.reverse.each do |f| %>
  <li><%= link_to fa_icon( "folder", text: f.title), f %></li>
  <% end %>
  <li class="active"><%= fa_icon "file-o" %> <%= @doc.title %></li>
</ol>

<p id="notice"><%= notice %></p>



<%= link_to 'Edit', edit_folder_doc_path(@folder, @doc), class: "pull-right" %>

<h1><%= @doc.title %></h1>

<div class="well">
  <%= raw markdown.render( @doc.body  || "") %>
</div>


