<%
  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {})
%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Filetype:</strong>
  <%= @doc.fileType %>
</p>

<div class="well">
  <%= raw markdown.render( @doc.body  || "") %>
</div>

<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
