<%
  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, {})
%>

<ul class="nav nav-pills pull-right" style="font-size: 0.8em; ">
  <li><%= link_to 'Edit', edit_folder_doc_path(@doc.folder, @doc), class: "pull-right" %></li>
</ul>

<%= render "folders/breadcrumbs" %>

<p id="notice"><%= notice %></p>

<h3><%= @doc.title %></h3>

<div>
  <%= raw markdown.render( @doc.body  || "") %>
</div>


